<% provide(:title, "Event") %>
<h1>Funeral</h1>


<p><%= link_to "> Create new cat funeral event", new_meeting_path %></p>
<p><%= link_to "> Edit cat funeral event", meetings_path %></p>
<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %> 
  
  <% @forecast["list"].each do |list| %>
    <% if Time.at(list["dt"]).to_datetime.strftime("%y-%m-%e") == date.to_datetime.strftime("%y-%m-%e") %> 
      <% list["weather"].each do |weather| %> 
        <%= weather["description"] %> <br />
      <% end %>
    <% end %>
  <% end %>
  
  <% meetings.each do |meeting| %>
    <div>
      <%= link_to meeting.name, edit_meeting_path(meeting) %> 
      <%= meeting.start_time.strftime("%H:%M") %>
    </div>
  <% end %>
<% end %>

