<% provide(:title, "Home") %>
<h1>Home</h1>
<p>This is home page</p>


<div class="center jumbotron">
  <h1>Welcome to Cat funeral app</h1>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("logo.png", alt: "Cat funeral logo"), '#' %>