<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Cat funeral app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Home",     root_path %></li>
          <li><%= link_to "Funerals", event_path %></li>
          <li><%= link_to "Help",     help_path %></li>
          <li><%= link_to "Log out",  destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Home",     root_path %></li>
          <li><%= link_to "Help",     help_path %></li>
          <li><%= link_to "Log in",   new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>